<ion-content inner-nav text-center>
  <ion-navbar clear></ion-navbar>

  <div class="artist-image">
    <artist-image [artist]="artist" [size]="'lg'"></artist-image>
    <div class="artist-info">
      <h1>{{ artist.displayName }}</h1>
    </div>
  </div>
  <button ion-button full icon-right color="primary" small (click)="createPlaylist(artist.displayName, set.fullSetlist)">
    <div>Create Playlist</div>
  </button>
  <ion-card>
    <ion-card-header text-left>
      <h1>Setlist</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="set.fullSetlist">
        <ion-item *ngFor="let song of set.fullSetlist">
          <h2 *ngIf="song.cover">
            <ion-icon name="musical-notes"></ion-icon>
            &nbsp;{{ song.name }} ({{ song.cover.name }} Cover)
          </h2>
          <h2 *ngIf="!song.cover">
            <ion-icon name="musical-notes"></ion-icon>
            &nbsp;{{ song.name }}
          </h2>
        </ion-item>
      </ion-list>
      <h1 *ngIf="!set.fullSetlist">No Setlist Found</h1>
    </ion-card-content>
  </ion-card>
</ion-content>