$primary: map-get($colors, 'primary');
$gradient-start: map-get($colors, 'gradient-start');
$light: map-get($colors, 'light');

/* Utility */
[no-padding] {
  padding: 0;
}

/* Buttons */
button.button[alt] {
  text-transform: none;
  height: auto;
}

/* Ionic Overrides */
ion-card.card {
  margin: 10px 0;
  width: 100%;
}

ion-content.content {
  background: #f3f7f7;
}

.gradient-background {
  background: $primary;
  background: -webkit-linear-gradient(135deg, $gradient-start, $primary);
  background: linear-gradient(135deg, $gradient-start, $primary);
  color: $light;
}
