ion-navbar .toolbar-title {
  color: map-get($colors, 'primary');
}

ion-header[clear] {
  &:after {
    background-image: none;
  }

  ion-navbar .toolbar-background {
    background: transparent;
    border: none;
  }
}

ion-navbar[clear] .toolbar-background {
  background: transparent;
  border: none;
}

ion-content[inner-nav] ion-navbar.toolbar {
  position: absolute;
}
