$primary: map-get($colors, 'primary');
$gradient-start: map-get($colors, 'gradient-start');
$light: map-get($colors, 'light');

page-concert-detail ion-content.content {
  background: $primary;
  background: linear-gradient(135deg, $gradient-start, $primary);
  background: -webkit-linear-gradient(135deg, $gradient-start, $primary);
  color: $light;

  .concert-info {
    max-width: 90%;
    text-align: center;
    margin: 0 auto 40px auto;
  }

  .concert-info {
    max-width: 90%;
    text-align: center;
    margin: 0 auto 40px auto;
  }

  .concert-info h1,
  .concert-info h3,
  .concert-info h5,
  .concert-info p {
    margin: 0 0 3px 0;
  }

  .concert-info h3 {
    font-size: 1.6em;
  }

  .concert-info h5 {
    margin-top: 9px;
    font-size: 1.2em;
  }

  .concert-info p {
    font-size: 1em;
  }

  ion-card.card {
    height: 100%;
    margin-bottom: 0;
  }

  ion-card-header h1 {
    color: $primary;
  }

}
